@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
}

main {
  display: grid;
  justify-items: center;
  gap: 4rem;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .header {
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    margin: 0 auto;
  }
}

.menu-header {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.menu-header a {
  color: #e79796;
  display: block;
  padding: 10px 1.25rem;
  border: 5px solid transparent;
  transition: 0.3s;
  text-align: center;
  font-size: 1rem;
  /* gap: 1rem; */
}

.menu-header a:hover {
  border-radius: 50px;
  border: 5px solid#F0F0F0;
}

.intro {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5.25rem;
  align-items: center;
}


.intro img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.intro-resume h1 {
  font-size: 5rem;
  font-family: 'Lato';
  font-weight: 800;
  color: #0c070e;
  position: relative;
}

.intro-resume h1::before {
  content: '';
  display: block;
  background-color: #e79796;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  z-index: -1;
}

.intro-resume p {
  color: #e79796;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .intro-resume h1 {
    font-size: 3rem;
  }

  .intro-resume h1::before {
    height: 40px;
    width: 40px;
    top: -5px;
    left: -15px;
  }
}


@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .intro-resume h1 {
    font-size: 3rem;
  }

  .intro-resume h1::before {
    height: 25px;
    width: 25px;
    top: 1px;
    left: -5px;
  }
}

@media(max-width:600px) {
  .intro {
    gap: 2rem;
  }

  .intro-resume h1 {
    font-size: 2rem;
  }

  .intro-resume h1::before {
    top: -5px;
    left: -10 px;
  }
}

.experiencia {
  position: relative;
}

.experiencia h1 {
  color: #f0f0f0;
  font-size: 7rem;
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 1.3;
  text-align: start;
  padding: 2rem 1rem;
  max-width: 300px;
}

.experiencia h1::before {
  content: '';
  background-color: #e79796;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 9rem;
  left: -5px;
  z-index: -1;
}

.experiencia-resume span,
ul span {
  font-weight: 500;
  color: #e79796;
}

.categories p {
  font-weight: 500;
  background-color: #f7bdbc;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  gap: 5px;
}

ul {
  margin-top: 2rem;
}

li {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.projetos {
  position: relative;
  gap: 2rem;
  /* grid-template-columns: repeat(auto-fit minmax(150px, 1fr)); */
}

.projetos h1 {
  color: #f0f0f0;
  font-size: 7rem;
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 1.3;
  text-align: end;
  /* padding: 2rem 1rem; */
  max-width: 400px;
  position: relative;
}

.projetos h1::before {
  content: '';
  background-color: #ffb284;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -20px;
  z-index: -1;
}

.projetos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 5px 5px;
}

.projetos-grid a {
  padding: 5px 15px;
  border-radius: 40px 40px 40px 5px;
  background-color: #f7bdbc;
  transition: 0.3s;
}

.projetos-grid a:hover {
  background-color: #e79796;
}

.title {
  color: #888155;
  font-weight: 500;
  font-size: 16px;
}

.name {
  color: #ffe5c7;
  font-size: 25px;
  /* word-wrap: break-word; */
  font-weight: 500;
}

.situation::before,
.situation {
  content: '• ';
  color: #888155;
}

.formacao-flex {
  display: flex;
  gap: 10px;
}

.formacao {
  position: relative;
  background-color: #f5cec7;
  z-index: 1;
}

.formacao h1 {
  color: #e79796;
  font-size: 7rem;
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 1.3;
  text-align: start;
  padding: 2rem 1rem;
  max-width: 350px;
}

.formacao h1::before {
  content: '';
  background-color: #888155;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 8rem;
  left: -3px;
  z-index: -1;
}

.formacao-flex li {
  padding: 5px 15px;
  border-radius: 40px 40px 40px 5px;
  background-color: #f7bdbc;
  transition: 0.3s;
}

.title-formacao {
  color: #888155;
  font-weight: 500;
  font-size: 12px;
}

.name-formacao {
  color: #fff4e7;
  font-size: 18px;
  font-weight: 500;
}

.situation-formacao::before,
.situation-formacao {
  content: '• ';
  color: #888155;
  font-size: 14px;
}

.formacao .resume {
  color: #888155;
  font-weight: 500;
}

.formacao .resume span {
  color: #e79796;
  font-weight: 600;
}

.idioms {
  color: #e79796;
}

.contato {
  padding: 1rem 1rem;
  margin-bottom: 3rem;
  justify-items: center;
}

.contatos-rapidos h2 {
  color: #e79796;
  padding: 5rem 2rem;
  word-wrap: break-word;
}

.contatos-rapidos a {
  text-decoration: none;
  color: #0c070e;
  font-weight: 500;
  display: grid;
  place-content: end;
  font-size: 22px;
  transition: 0.3s;
}

.contatos-rapidos a:hover {
  color: #888155;
}

.links-flex {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 5px 10px;
}

.links-flex a {
  background-color: #f7bdbc;
  padding: 10px 20px;
  color: #888155;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.links-flex a:hover {
  background-color: #e79796;
}

footer {
  max-width: 100%;
  color: #979797;
  text-align: center;
}
