@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
}

main {
  display: grid;
  justify-items: center;
  gap: 4rem;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .header {
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    margin: 0 auto;
  }
}

.menu-header {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.menu-header a {
  color: #e79796;
  display: block;
  padding: 10px 1.25rem;
  border: 5px solid transparent;
  transition: 0.3s;
  text-align: center;
  font-size: 1rem;
}

.menu-header a:hover {
  border-radius: 50px;
  border: 5px solid#F0F0F0;
}

.intro,
.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5.25rem;
  align-items: center;
  position: relative;
}

.intro img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.intro-resume h1 {
  font-size: 5rem;
  font-family: 'Lato';
  font-weight: 800;
  color: #0c070e;
  position: relative;
}

.intro-resume h1::before {
  content: '';
  display: block;
  background-color: #e79796;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  z-index: -1;
}

.intro-resume p {
  color: #e79796;
  font-weight: bold;
}

.experiencia h1 {
  color: #f0f0f0;
  font-size: 7rem;
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 1.3;
  text-align: start;
  padding: 2rem 1rem;
  max-width: 300px;
}

.experiencia h1::before {
  content: '';
  background-color: #e79796;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 175px;
  left: 18px;
  z-index: -1;
}

.empresa-resume-principal {
  position: relative;
  left: 1rem;
}

.empresa-resume-principal::after {
  content: '____________________________________________________________________________________';
  color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: -20px;
  left: 1px;
}

.empresa-resume strong {
  color: #e79796;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px;
  padding: 15px;
  position: relative;
  font-size: 1rem;
  line-height: 1.3;
  text-align: left;
}

.empresa-ano {
  position: absolute;
  text-align: end;
  top: 30px;
  left: -80px;
  color: #acacac;
}

.empresa-titulo {
  font-weight: bold;
  line-height: 1.3;
  font-size: 14px;
}

.habilidades {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: start;
}

.habilidades li {
  border-radius: 30px;
  background-color: #e79796;
  color: white;
  padding: 5px 10px;
}

.projetos {
  position: relative;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5.25rem;
  align-items: center;
}

.projetos h1 {
  color: #f0f0f0;
  font-size: 7rem;
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 1.3;
  text-align: start;
  max-width: 400px;
  position: relative;
}

.projetos h1::before {
  content: '';
  background-color: #ffb284;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: -15px;
  top: 10px;
  z-index: -1;
}

.projetos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 5px 5px;
}

.projetos-grid li {
  padding: 5px 15px;
  border-radius: 40px 40px 40px 5px;
  transition: 0.3s;
  background-color: #f7bdbc;
}

.projetos-grid li:hover {
  background-color: #e79796;
}

.title,
.titulo-formacao {
  color: #888155;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.name {
  color: #ffe5c7;
  font-size: 25px;
  font-weight: 500;
}

.situation::before,
.situation,
.local-formacao::before,
.local-formacao {
  content: '• ';
  color: #888155;
}

.back {
  max-width: 100%;
  background-color: #f5cec7;
  z-index: -1;
}

.formacao {
  position: relative;
  background-color: #f5cec7;
  z-index: 0;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5.25rem;
}

.idioms span {
  position: absolute;
  bottom: 10rem;
  left: 430px;
  color: #888155;
  font-size: 1.4rem;
}

.formacao h1 {
  color: #e79796;
  font-size: 7rem;
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 1.3;
  text-align: start;
  padding: 2rem 1rem;
  max-width: 350px;
}

.formacao h1::before {
  content: '';
  background-color: #888155;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 11rem;
  left: 20px;
  z-index: -1;
}

.formacao-flex {
  display: flex;
  gap: 10px;
}

.title-formacao {
  color: #888155;
  font-weight: 500;
  font-size: 12px;
}

.name-formacao {
  color: #fff4e7;
  font-size: 18px;
  font-weight: 500;
}

.situation-formacao::before,
.situation-formacao {
  content: '• ';
  color: #888155;
  font-size: 14px;
}

.formacao-resume-principal {
  color: #888155;
}

.formacao-resume-principal strong {
  color: #e79796;
}

.formacao-flex {
  display: flex;
  padding: 5px 5px;
  word-wrap: break-word;
}

.estudo {
  padding: 5px 15px;
  height: 250px;
  width: 250px;
  border-radius: 40px 40px 40px 5px;
  transition: 0.3s;
  background-color: #f7bdbc;
  word-wrap: break-word;
}

.idioms {
  color: #e79796;
}

.contato {
  display: grid;
  justify-items: center;
  gap: 4rem;
}

.contatos-rapidos h2 {
  color: #e79796;
  padding: 5rem 2rem;
  word-wrap: break-word;
}

.contatos-rapidos a {
  text-decoration: none;
  color: #0c070e;
  font-weight: 500;
  display: grid;
  place-content: end;
  font-size: 22px;
  transition: 0.3s;
}

.contatos-rapidos a:hover {
  color: #888155;
}

.links-flex {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 5px 10px;
}

.links-flex a {
  background-color: #f7bdbc;
  padding: 10px 20px;
  color: #888155;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.links-flex a:hover {
  background-color: #e79796;
}

footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: 100%;
  color: #979797;
  text-align: center;
}

@media (max-width: 1000px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .intro-resume h1 {
    font-size: 3rem;
  }

  .intro-resume h1::before {
    height: 40px;
    width: 40px;
    top: -5px;
    left: -15px;
  }
  .experiencia,
  .projetos,
  .formacao {
    grid-template-columns: 1fr;
  }

  .estudo {
    height: 200px;
    width: 200px;

    font-size: 14px;
  }

  .experiencia h1,
  .projetos h1 {
    color: #f0f0f0;
    font-size: 6rem;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }

  .formacao h1 {
    font-size: 6rem;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }

  .experiencia h1::before,
  .projetos h1::before,
  .formacao h1::before,
  .icon {
    visibility: hidden;
  }

  .empresa-resume {
    gap: 1rem;
  }

  .empresa-resume p,
  .empresa-resume span,
  .empresa-resume ul {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .intro-resume h1 {
    font-size: 3rem;
  }

  .intro-resume h1::before {
    height: 25px;
    width: 25px;
    top: 1px;
    left: -5px;
  }

  .experiencia h1::before {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .intro {
    gap: 2rem;
  }

  .intro-resume h1 {
    font-size: 2rem;
  }

  .intro-resume h1::before {
    top: -5px;
    left: -10 px;
  }

  .experiencia h1,
  .projetos h1 {
    color: #f0f0f0;
    font-size: 4.5rem;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .formacao h1 {
    font-size: 4.5rem;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .estudo {
    height: 230px;
    width: 140px;
    font-size: 14px;
  }

  .empresa-resume-principal::after {
    content: '__________________________________________________________________';
  }
}

@media (max-width: 500px) {
  .header img {
    max-width: 200px;
  }

  .intro {
    gap: 1rem;
  }

  .experiencia h1,
  .projetos h1,
  .formacao h1 {
    font-size: 3rem;
  }

  .formacao-flex {
    display: grid;
    margin: 0 auto;
  }
  .estudo {
    height: 180px;
    width: 290px;
    margin: 0 auto;
  }

  .empresa-resume-principal::after {
    content: '___________________________________________';
  }

  .projetos .title,
  .situation,
  .estudo .titulo-formacao,
  .local-formacao {
    font-size: 14px;
  }

  .projetos .name {
    font-size: 1.3rem;
  }

  .estudo .name-formacao {
    font-size: 1.2rem;
  }

  .contato {
    gap: 2rem;
    margin: 10px;
  }

  .contatos-rapidos h2 {
    padding: 1rem 1rem;
  }

  .contato h2 {
    font-size: 1.3rem;
  }

  .contato a {
    font-size: 1rem;
  }

  .links-flex {
    gap: 10px;
    padding: 5px 5px;
  }

  .links-flex a {
    font-size: 14px;
    padding: 5px 10px;
  }
}
